
body {

    margin: 30px;
    background-color: #DBF0FF;
    font-family: Ariel;


}


h1 {

    color: #570303;
    font-size: 32px;
}

h2 {

    color: #570303;
    font-size: 28px;
    padding: 10px;
}

h3 {

    color: #570303;
    font-size: 20px;
}

p {

    color: #570303;
    font-size: 16px;
}

ul {

    color: #570303;
    font-size: 16px;
}

li {

    padding: 5px;
}

summary {

    color:#570303;
    font-size: 16px;
}

blockquote {
    background-color: #FCFCF5; 
    width: 500px;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: #570303;
    border-radius: 10px;
    
}

figure {

    background-color: #570303;
    padding: 10px;
    padding-bottom: 20px;
    border: 2px;
    border-color: black;
    color: #FCFCF5;
    text-align: center;
    width: 640px;
    height: 440px;
    align-content: center;
    float: right;

}

img {
    
    padding:10px;
    
}

.first-paragraph {

    font-weight: bold;

}

/* unvisited link */
a:link {
  color: #570303;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #570303;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #FCFCF5 ;
  text-decoration: none;
}



